*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
:root{
--Green: hsl(75, 94%, 57%);
--White: hsl(0, 0%, 100%);
--Grey: hsl(0, 0%, 20%);
--Dark-Grey: hsl(0, 0%, 12%);
--Off-Black: hsl(0, 0%, 8%);
}
html{
    font-size: 62.5%;
}
.contaner{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--Off-Black);
}
.content{
    background-color: var(--Dark-Grey);
    border-radius: 1rem;
    padding:4rem;
    font-family: "Inter", sans-serif;
    width: 28rem;
}
.content .image {
    display: flex;
    justify-content: center;
    align-items: center; 
}
.content .image img{
    border-radius: 50%;
    width: 9rem;
    margin-bottom: 2.5rem;
}
.content .text{
    text-align: center;
    font-size: 1.4rem;
}
.content .text h1{
color: var(--White);
}
.content .text h3{
color: var(--Green);
padding-top: 1rem;
font-size: 1.4rem;
}
.content .text h4{
    color: hsl(0deg 0% 100% / 72%);
    padding: 2rem 0 2rem 0;
    word-spacing: 1px;
    font-weight: 400;
}
.content .links ul{ 
    text-align: center;
    line-height: 2;
    
}
.content .links ul li{
    background-color: var(--Grey);
    color: var(--White);
    font-size: 1.4rem;
    margin-bottom: 1.6rem;
    padding: 0.8rem;
    border-radius: 10px;
}
.content .links ul li:hover{
    background-color:var(--Green) ;
    cursor: pointer;
    color: black;
    font-weight: bold;
}
@media (max-width:400px) {
    .content{
        width: 26rem;
    }
}
